<div class="text-center pt-5 mb-5">
    <h5><%= @ask.user.name %>さんのお悩み</h5>
</div>

        <div class="card" style="min-height: 330px; max-height: 100%;">
            <div class="card-head">
                <h4 class="card-title pt-3 pl-3 mb-2"><%= @ask.title %></h4>
            </div>
            <div class="card-body">
                <h5 class="card-text"><%= @ask.content %></h5>
                <!--<p class="card-text">カテゴリー：</p>-->
            </div>
        </div>
        <div class="text-center mt-3">
            <%= link_to '一覧に戻る', asks_path %>
        </div>
