<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Asks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSuppotedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="navbar-item"><a href="#" class="navbar-link">お悩み一覧</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">カテゴリー別にみる<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">人間関係</a></li>
                        <li><a href="#">受験</a></li>
                        <li><a href="#">恋愛</a></li>
                        <li><a href="#">健康</a></li>
                        <li><a href="#">その他</a></li>
                    </ul>
                </li>
                <li class="navbar-item"><a href="#" class="navbar-link">投稿する</a></li>
                <li class="navbar-item"><a href="#" class="navbar-link">マイページ</a></li>
                <li class="dropdown-item">
                    <%= link_to 'Logout', logout_path, method: :delete %>
                </li>
            </ul>
        </div>
    </nav>
</header>